@import "./../../styles/variables";

.cta-banner {
  background: $color-primary-300;
  text-align: center;
  padding: 2rem 0;
  color: $color-light;
  position: relative;
  h2 {
    @include h2Font;
    font-weight: 700;
  }
  h4 {
    @include h4Font;
  }
  &::before {
    content: "";
    position: absolute;
    top: -4.5rem;
    left: 0;
    height: 10rem;
    width: 100%;
    background: $color-primary-300;
    clip-path: polygon(0 49%, 100% 49%, 100% 0);
  }
  &::after {
    content: "";
    background-size: 10px 5px;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -0.5rem;
    z-index: 1;
    background-image: linear-gradient(
        315deg,
        $color-primary-300 25%,
        transparent 25%
      ),
      linear-gradient(45deg, $color-primary-300 25%, transparent 25%);
    transform: rotate(180deg);
  }
}
.cta-button {
  display: inline-block;
  margin: 3rem 0 2rem 0;
  padding: 1rem 2rem;
  background: $color-light;
  color: $color-primary-500;
  transition: background 0.3s, color 0.3s;
  transform: skew(-15deg); /* SKEW */
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  span {
    display: inline-block;
    @include h3FontMedium;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    transform: skew(15deg); /* UNSKEW */
  }
  &:hover {
    color: $color-light;
    background-color: $color-secondary-500;
  }
}
