@import "./../../../styles/variables";
.navigation {
  z-index: 100;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
.container {
  display: flex;
  flex-direction: column;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact {
  display: flex;
  align-self: end;
  color: $color-primary-500;
  text-transform: uppercase;
  @include bodyFontSmRegular;
  span {
    margin: 0 1rem;
  }
}
.logo {
  img {
    transition: all 0.3s;
  }
  a {
    display: flex;
  }
  .logo-text {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    span {
      text-transform: uppercase;
      letter-spacing: 1rem;
      margin: 0.1rem 0;
      transition: all 0.3s;
    }
  }
}
.scrolled {
  padding: 1rem;

  .logo {
    img {
      height: 5rem;
      width: 5rem;
    }
  }
  .logo-text {
    padding: 0 0.6rem;

    span {
      letter-spacing: 0.8rem;
      margin-bottom: 0;
    }
  }
}
