@import "./../../../styles/variables";
.navigation {
  z-index: 100;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
.container {
  display: flex;
  flex-direction: column;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact {
  padding-right: 1rem;
  display: flex;
  align-self: end;

  color: $color-secondary-500;
  text-transform: uppercase;
  @include bodyFontSmRegular;
  .contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-top: 0.2rem;
    }
  }
  .icon {
    margin-right: 0.5rem;
  }
  .separator {
    margin: 0 1rem;
  }
}
.logo {
  img {
    transition: all 0.3s;
  }
  a {
    display: flex;
  }
  .logo-text {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    span {
      text-transform: uppercase;
      letter-spacing: 1rem;
      margin: 0.1rem 0;
      transition: all 0.3s;
    }
  }
}
.scrolled {
  padding: 1rem;

  .logo {
    img {
      height: 5rem;
      width: 5rem;
    }
  }
  .logo-text {
    padding: 0 0.6rem;

    span {
      letter-spacing: 0.8rem;
      margin-bottom: 0;
    }
  }
}
@media (max-width: $breakpoint-mobile) {
  .navigation {
    padding: 1rem;
  }
  .contact {
    padding-right: 0;
    font-size: 1.1rem;
    flex-wrap: wrap;
    img {
      width: 1.4rem;
      height: 1.4rem;
    }
    .separator {
      margin: 0 0.4rem;
    }
  }
}
