@import "./../../styles/variables";
.color-primary {
  color: $color-primary-300;
}
.event-details {
  padding: 2rem;
  border-top: 0.1rem solid rgba($color-gray-100, 0.4);
  display: flex;
}
.details-box {
  flex: 1;
  .box-title {
    @include h3FontMedium;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
}
.item {
  @include bodyFontRegular;
  margin-bottom: 1.5rem;
  &__title {
    font-weight: 700;
    margin-bottom: 0.4rem;
  }
  &__tags {
    .tag {
      margin-right: 0.5rem;
    }
  }
}
@media (max-width: $breakpoint-mobile) {
  .event-details {
    flex-direction: column;
  }
  .details-box {
    margin-bottom: 3rem;
  }
}
