@import "./../../styles/variables";
.button {
  display: inline-block;
  margin: 3rem 0 2rem 0;
  padding: 1rem 2rem;
  background: $color-primary-500;
  color: $color-light;
  transition: background 0.3s, color 0.3s;
  transform: skew(-15deg); /* SKEW */
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  @include bodyFontMedium;
  text-transform: uppercase;
  cursor: pointer;
  span {
    display: inline-block;

    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    transform: skew(15deg); /* UNSKEW */
  }
  &:hover {
    color: $color-secondary-500;
    background-color: $color-light;
  }
}
.invert {
  background: $color-light;
  color: $color-primary-500;
  &:hover {
    color: $color-light;
    background-color: $color-secondary-500;
  }
}
