@import "./../../styles/variables";
.latest-news {
  margin: 7rem 0;
}

.header {
  margin-bottom: 6rem;
  h1 {
    @include h1Font;
    font-weight: 300;
  }
}

.news-list {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  .news-container {
    max-width: 25rem;
    margin-right: 1rem;
  }
  padding: 1rem 0 5rem 0;
}
