@import "./../../styles/variables";

.middle-cards {
  margin: 5rem 0;
}

.cards-list {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  gap: 2rem;
}

@media screen and (max-width: $breakpoint-tablet) {
  .cards-list {
    flex-direction: column;
  }
}
