@import "./../../styles/variables";
.our-instructors {
  background-image: url("/images/backgr2.png");
  background-attachment: fixed;
  background-position: center;
  padding: 9rem 0;
  background-size: contain;
  position: relative;
}
