@import "./../../../../styles/variables";

.navigationList {
  display: flex;
  list-style: none;
  gap: 1rem;
}
@media screen and (max-width: $breakpoint-tablet) {
  .navigationList {
    display: none;
  }
}
